<h1>Create a Bird..</h1>

<form action="/birds" method="POST">
  <label>
    Name
    <input type="text" name="type">
    </label>
    <br><br>

  <label>
    City
    <input type="text" name="city">
    </label>
    <br><br>

  <label>
    Description
    <input type="text" name="description">
    </label>
    <br><br>

  <button type="submit">Submit</button>
</form>
